# general
*~
*.log
tmp
dump
 
# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin
 
# SBT
dist
project/boot
project/target
project/plugins/target
project/target/streams
target
.target

#OSX
.DS_Store

# Intellij IDEA
.idea
 
# Play
logs
RUNNING_PID