@(text: String)

@main(title = "Add a new problem", sidebar = views.html.sidebar("add"), breadcrumbs = views.html.breadcrumbs()) {

<div class="well">
    <p id="pageMessage">@text.</p>
</div>

<div class="row" id="formHolder">
    <div class="col-lg-6">
        <form role="form" name="addProblem" action=/new method="post">
            <fieldset>
                <legend>Problem details</legend>
                <div class="form-group">
                    <label>Problem name</label>
                    <input class="form-control" type="text" name="problemName" required placeholder="Enter text">
                    <p class="help-block">Example: Problem 4 </p>
                </div>
                <div class="form-group">
                    <label>Problem question</label>
                    <input class="form-control" type="text" name="problemQuestion" required placeholder="Enter text">
                    <p class="help-block">Example: How much is 2 plus 1?</p>
                </div>
            </fieldset>

            <fieldset>
                <legend>Parameter 1</legend>

                <div class="form-group">
                    <label>Parameter name</label>
                    <input class="form-control" type="text" name="parameterName_1" required placeholder="Enter text">
                    <p class="help-block">Needs to be computer readable.</p>
                </div>

                <div class="form-group">
                    <label>Proper parameter name</label>
                    <input class="form-control" type="text" name="parameterProperName_1" required placeholder="Enter text">
                    <p class="help-block">Needs to be human readable.</p>
                </div>

                <div class="form-group">
                    <label>Default value</label>
                    <input class="form-control" type="number" name="parameterDefaultValue_1" required placeholder="Enter value">
                    <p class="help-block">Enter the default value for the parameter. The default value is used when the problem is first loaded.</p>
                </div>
            </fieldset>

            <p>
                <button type="button" class="btn btn-sm btn-default add_button">Add a new parameter</button>
            </p>

            <p>
                <button type="submit" class="btn btn-primary phpPost">Submit</button>
            </p>
        </form>
    </div>
</div>
}