@(question: String, answer: Long, parameters: List[models.Parameters], id: Int)
@import java.lang.String;

@main(title = "Answer to Problem " + id, sidebar = views.html.sidebar("list"), breadcrumbs = views.html.breadcrumbs()) {

    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <em>Question:</em> <br>
                @question <br><br>
                The answer is <strong>@answer</strong>. <br><br>
                <button class="btn btn-sm btn-link" onclick="location.href='problems'"> Back to problem list</button>
            </div>

            <p> Alternatively, you can change the parameters of the question using the following form: <br><br> </p>

            <form role="form" name="changeParameters" action="@id" method="get">
                @for(parameter <- parameters) {
                    <div class="form-group">
                        <label>@parameter.getProperName():</label>
                        <input class="form-control" placeholder="Enter text" type="number" name="@parameter.getParameterName()" required value="@parameter.getParameterDefaultValue()">
                        <p class="help-block">Ex: default value is @parameter.getParameterDefaultValue.</p>
                    </div>
                }
                <button type="submit" class="btn btn btn-primary" value="Submit">Submit</button>
                <button type="reset" class="btn btn btn-default">Reset</button>
                <!-- /.row -->
            </form>
        </div>
    </div>
    <!-- /.row -->
}



