@(problems: List[models.Problems], text: String)

@main(title = "Delete a problem", sidebar = views.html.sidebar(), breadcrumbs = views.html.breadcrumbs()) {
    <div class="well">
        <p id="pageMessage">@text</p>
    </div>

    <div class="row" id="formHolder">
        <div class="col-lg-6">
            <form role="form" name="deleteProblem" action="/delete" method="post">

                @for(problem <- problems) {

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="@problem.getProblemId()" value="">@problem.getProblemName()
                        </label>
                    </div>
                }
                <button type="submit" class="btn btn-primary phpPost">Submit</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
}