@(problems: List[models.Problems], text: String)

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delete a problem</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/stylesheets/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            @views.html._navbar_header()
            @views.html._top_menu_items()
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="/"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                </li>
                <li>
                    <a href="/problems"><i class="fa fa-fw fa-bar-chart-o"></i> Problem list</a>
                </li>
                <li>
                    <a href="/new"><i class="fa fa-fw fa-table"></i> Add new problem</a>
                </li>
                <li class="active">
                    <a href="/delete"><i class="fa fa-fw fa-edit"></i> Delete existing problem</a>
                </li>
            </ul>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Problems available for deletion
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Home</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-bar-chart-o"></i> Delete a problem
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="well">
                    <p id="pageMessage">@text</p>
                </div>

                <div class="row" id="formHolder">
                    <div class="col-lg-6">
                        <form role="form" name="deleteProblem" action="/delete" method="post">

                            @for(problem <- problems) {

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="@problem.getProblemId()" value="">@problem.getProblemName()
                                    </label>
                                </div>
                                }
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>



                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/javascripts/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/javascripts/bootstrap.min.js"></script>

    <!-- Post form as an ajax request -->
    <script src="/assets/javascripts/postForm.js"></script>

    </body>
</html>