@(queryStrings : HashMap[models.Problems, String])

@main(title = "Problem list", sidebar = views.html.sidebar(), breadcrumbs = views.html.breadcrumbs()) {
 
    <!-- Flot Charts -->
    <div class="row">
        <div class="col-lg-6">
            <h2>List of available problems</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Problem Name</th>
                        <th>Problem Id</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for((problem, queryString) <- queryStrings) {
                        @if(problem.getProblemId() < 4) {
                            <tr>
                                <td><a href = "/problems/@problem.getProblemId()@queryString"> @problem.getProblemName()</td>
                                <td><a href = "/problems/@problem.getProblemId()@queryString"> @problem.getProblemId()</td>
                            </tr>
                        } else {
                            <tr>
                                <td> @problem.getProblemName()</td>
                                <td> @problem.getProblemId()</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <button type="button" class="btn btn-sm btn-primary" onclick="location.href='new'"> Add a new problem</button>
        <button type="button" class="btn btn-sm btn-default" onclick="location.href='delete'"> Delete an existing problem</button>
    </div>
    <!-- /.row -->

}